body {
   background-color: var(--neutral);
}

.login {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 100vw;
   min-height: 100vh;
}

.login__form {
   min-width: 300px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   background-color: var(--primary);
   padding: 16px 32px 32px;
   border-radius: 4px;
}

.login__form__fieldset {
   display: flex;
   flex-direction: column;
   border: 0;
   gap: 4px;
}

.login__form__fieldset__label {
   color: var(--secondary-text);
}

.login__form__fieldset__input {
   padding: 8px;
   border-radius: 4px;
   border: 1px solid var(--tertiary);
   background-color: var(--tertiary);
   color: var(--primary-text);
}

.login__form__fieldset__button {
   padding: 8px;
   border-radius: 4px;
   border: 0;
   background-color: var(--secondary);
   color: var(--secondary-text);
   cursor: pointer;
}
